name: Metrics

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      # ✅ Step 1: Calculate Previous Year
      - name: Get Previous Year
        id: prevyear
        run: echo "year=$(($(date +%Y)-1))" >> $GITHUB_OUTPUT

      # ✅ Step 2: Metrics
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: jvlavan
          template: terminal
          base: ""

          config_timezone: Asia/Kolkata

          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C

          plugin_calendar: yes
          plugin_calendar_limit: 1
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

          plugin_skyline: yes
          plugin_skyline_year: ${{ steps.prevyear.outputs.year }}
          plugin_skyline_frames: 60
          plugin_skyline_quality: 0.5
          plugin_skyline_settings: |
            {
              "url": "https://skyline.github.com/${login}/${year}",
              "ready": "[...document.querySelectorAll('span')].map(span => span.innerText).includes('Share on Twitter')",
              "wait": 1,
              "hide": "button, footer, a"
            }
